[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
django-user-accounts = "*"
pinax-eventlog = "*"
django = "<2.1"
pinax-templates = "*"
django-webpack-loader = "*"


[dev-packages]
"flake8" = "*"
isort = "*"
"flake8-quotes" = "*"
